#lip{
    text-align:center;
}
#one img{
height:250px;
width:300px;
}
#two img{
    height:250px;
}
#three img{
    height:250px;  
}
#four img{
    height:250px;
}
#make{
    margin-top: 5%;
    margin-bottom: 5%;
}

#top{
    margin-bottom: 5%;
}

button{
    background-color:pink; 
    cursor: pointer;;
}
li a {
    display: inline-block;
    width: 60px;
    background-color: pink;
  }

.hover {
position:inherit;
}
.hover-img {
position:absolute;
width:100%;
height:100%;
opacity:0.2;
background:pink;
}
#text{
    color:red;
    font-size: 20px;
}
.column{
    width:25%;
    float:left;
}
