
/* .price{
    position: absolute;
    opacity: 0.3;
    background-color:rgb(221, 171, 171);
    width: 100%;
    height: 100%;
} */
/* .image{
    position: inherit;
}
.shop{
    background-color: pink;
} */


