
#one img{
  /* height: 850px; */
  width: 80%;
  height: 80%;
}
.about{
  font-family: 'Mate SC', serif;
  padding-top: 50px;
}
#bb{
  padding-top: 90px;
}
.best{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#font{
  font-family: 'Playfair Display SC', serif;
}
#prices{
  font-family: 'Lekton', sans-serif;
}
/* .container text-center card{
  padding-top: 65px;
} */
#three{
  background-image: url(../images/about8.jpg);
  background-size: cover;
  height: 720px;
  color: black;
}
#about{
  padding: 90px;
}
.pk{
  color: black;
}
.checkout-panel{
  display: none; 
    display: flex;
    flex-direction: column;
    width: 940px;
    height: 766px;
   
  }

  .panel-body {
    padding: 45px 80px 0;
    flex: 1;
  }
   
  .title {
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 40px;
    color: #2e2e2e;
  }
  /* .progress-bar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
  } */
   
  .step {
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    display: block;
    width: 25px;
    height: 25px;
    margin-bottom: 30px;
    border: 4px solid #fff;
    border-radius: 50%;

  }
   
  .step:after {
    position: absolute;
    z-index: -1;
    top: 5px;
    left: 22px;
    width: 225px;
    height: 6px;
    content: '';
    
  }.column {
    float: left;
    width: 25%;
    padding: 10px;
  }
   
  /* .step:before {
    color: #2e2e2e;
    position: absolute;
    top: 40px;
  }
   
  .step:last-child:after {
    content: none;
  }
   
  .step.active {
    background-color: #f62f5e;
  }
  .step.active:after {
    background-color: #f62f5e;
  }
  .step.active:before {
    color: #f62f5e;
  }
  .step.active + .step {
    background-color: #f62f5e;
  }
  .step.active + .step:before {
    color: #f62f5e;
  } */
   
  
  