h1 {
  text-align: center;
}
.container {
  text-align: center;
}
img {
  width: 70%;
}
.row {
  width: 100%;
}
#buy {
  background-color: pink;
}
.hover {
  position: inherit;
}
.hover-pro {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255);
  opacity: 0.3;
  text-align: right;
}
#nas {
  margin-bottom: 5%;
  margin-top: 5%;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 17px;
}
topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
